<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        @Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Giới thiệu", "About", "Home", null, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Shop
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>@Html.ActionLink("Tất cả sản phẩm", "Contact", "Home", null, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>@Html.ActionLink("Loại sản phẩm", "Contact", "Home", null, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Sản phẩm mới", "Contact", "Home", null, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>

                    @{
                        var kh = Session["KHACHHANG"] as DOAN_SALE_LAPTOP.Models.KhachHang;
                    }

                    @if (kh != null)
                    {
                        <li class="nav-item">
                            <span class="nav-link text-success">Xin chào, @kh.FullNameKH!</span>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Đăng xuất", "Logout", "Home", null, new { @class = "btn btn-logout ms-2" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Đăng nhập", "Login", "Home", null, new { @class = "btn btn-login ms-2" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Đăng ký", "Register", "Home", null, new { @class = "btn btn-register ms-2" })
                        </li>
                    }

                </ul>

                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Giỏ hàng
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>


    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>



    <div>
        @RenderBody()
    </div>


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/js/scripts.js"></script>
</body>
</html>
